.nav{
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 10vh;
    left: 1px;
    top: 0px;
    background: #512DA8;
    text-align: center;
    
}

h1{
    /* width: 263px;
    height: 46px; */
    margin-bottom: 8vh;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
}