.nav{
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 10vh;
    left: 1px;
    top: 0px;
    background: #512DA8;
    text-align: center;
    
}

h1{
    padding-top: 2vh;
}